@model List<Category>
@if(TempData["success"] != null)
{
    <h2 class="mb-4">@TempData["success"]</h2>
}

<div class="container">
    <div class="d-flex justify-content-between pb-3">
        <h2 class="mb-0">Category List</h2>
        <div>
            <a asp-controller="Category" asp-action="Create" class="btn btn-dark"><i class="bi bi-plus-circle-dotted"></i> Create New Category</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td>
                       <div>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary"><i class="bi bi-pencil-square pe-2"></i>Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash3 pe-2"></i>Delete</a>
                       </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>